# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mouse/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/mouse/build

# misc
/mouse/.DS_Store
/mouse/.env.local
/mouse/.env.development.local
/mouse/.env.test.local
/mouse/.env.production.local

/mouse/npm-debug.log*
/mouse/yarn-debug.log*
/mouse/yarn-error.log*
